/* css/FastPage.css */

.FastPage {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:  50px;
}

.FastPage .options {
  display: flex;
  flex-direction: column !important; /* Options will be displayed in a single column */
  margin: 20px 0;
  width: 300px;
  max-width: 100%; /* Set the maximum width to 100% */
  margin: auto;
}

.FastPage .option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; /* For rounded borders */
  cursor: pointer;
  margin-bottom: 10px; /* Add this for space between options */
}

.FastPage .option img {
  margin-right: 100px;
  padding-left: 60px; 
  width: 30px;
}

.FastPage .option.selected {
  background-color: #f0d27f;
}

.FastPage button:disabled {
  background-color: #7a7a78;
  cursor: not-allowed;
}
