.PageSeven {
    display: flex;
    justify-content: space-around; /* Distributes boxes evenly in the container */
    padding: 20px;
    text-align: center;
    flex-wrap: wrap; /* Allows the boxes to wrap onto the next line if there isn't enough space */
}

.path {
    display: flex;
    flex-direction: column; /* Stacks the content vertically */
    align-items: center; /* Centers the content */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin: 10px;
    position: relative;
}

.banner {
    background-color: orange; 
    color: black; 
    padding: 5px; 
    text-align: center;
    border-radius: 30px; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-weight: bold; 
     
    background-size: cover; /* Resize the background image to cover the entire container */
}












.image-section {
    width: 100%; /* Takes the full width of the .path container */
    height: auto; /* Maintains the aspect ratio of the image */
}
